*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--red-color: #e50914;
	--dark-color: #141414;
}

body{
	font-family: "Arial", sans-serif;
	--webkit-font-smoothing: antialiased;
	background: black;
	color: gray;
	overflow-x: hidden !important;
}

ul{
	list-style: none;
}

h1, h2, h3, h4{
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

p{
	margin: 0.5rem 0;
}

img{
	width: 100%;
}

.showcase{
	width: 100%;
	height: 93vh;
	position: relative;
	background: url("../img/background.jpg") no-repeat center center/cover;
}

.showcase::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px black, inset -120px -100px 250px black;
}

.showcase-top{
	position: relative;
	height: 90px;
	z-index: 2;
}

.showcase-top  img{
	width: 170px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(-50%, -50%);
}

.showcase-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.showcase-content h1{
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.showcase-content p{
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}


/*TABS*/

.tabs{
	background-color: var(--dark-color);
	padding-top: 1rem;
	border-bottom: 3px solid #3d3d3d;
}

#tab-1-content,
#tab-2-content,
#tab-3-content{
	display: none;
}

.show{
	display: block !important;
}

.tab-icon{
	font-size: 55px;
}

.tabs .container{
	max-width: 70%;
	margin: 0 auto;
	display: flex;
	text-align: center;
}

.tabs .container p{
	margin-top: 10px;
}

.tabs .container div{
	padding: 1.5rem 0;
	width: calc(100%/ 3);
}

.tab-content-item{
	width: 80%;
	margin: 0 auto;
}

#tab-1-content > div{
	width: 80%;
	display: flex;
	align-items: center;
	padding-top: 100px;
	margin: 0 auto;
}

.tab-2-content-top{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
}

.tab-2-content-top p{
	float: left;
	font-size: 27px;
	color: white;
}

.tab-2-content-bottom{
	width: 80%;
	margin: 50px auto;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

.tab-2-content-bottom img{
	width: calc(85%);
}


.tab-border{
	border-bottom:  3px solid var(--red-color);
	
}

.tabs .container div:hover{
	color: white;
	cursor: pointer;
}

.cancel-img{
	width: 40%;
	height: auto;
}


.table{
	width: 65%;
	margin: 50px auto 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.table thead th{
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	padding-bottom: 9px;
}

.table tbody tr td{
	color: #999;
	padding: 15px 22px;
	text-align: center;
}

.table tbody tr td:first-child{
	text-align: left;
}

.table tbody tr:nth-child(2n+1){
	background: #222;
}

/* TEXT STYLES*/

.text-xl{
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #fff;
}

.text-lg{
	font-size: 1.8rem;
	margin-bottom: 1rem;
	color: #fff;
}

.text-md{
	color: white;
	font-size: 20px;
}

.text-center{
	text-align: center;
}

.text-dark{
	color: #999;
}


/*Button*/

.btn{
	display: inline-block;
	background: var(--red-color);
	color: white;
	text-align: center;
	padding: 6px;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	margin-right: 0.5rem;
	outline: none;
	box-shadow: 0 1px 0 rgba(121, 116, 116, 0.45);
	border-radius: 2px;
}

.btn:hover{
	opacity: 0.9;
}

.btn-rounded{
	border-radius: 5px;
}

.btn-xl{
	font-size: 18px;
	padding: 10px 15px;
	text-transform: uppercase;
}

.btn-lg{
	font-size: 2rem;
	padding: 1.5rem 2.1rem;
	text-transform: uppercase;
}

.footer{
	width: 75%;
	max-width: 80%;
	margin: 50px auto 0 auto;
	overflow: hidden;
}

.footer-cols{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat (4, auto);
}

.footer li{
	list-style: none;
	margin: 3px 0;
}

.footer li a{
	color: #999;
	text-decoration: none;
}

@media screen and (max-width: 1252px){
	.showcase-content h1{
		font-size: 65px;
	}

	.showcase-content p {
		font-size: 17px;
		text-align: center;
	}

	.btn-lg{
		font-size: 20px;
	}
}


@media screen and (max-width: 960px){

	.showcase-content h1{
		font-size: 45px;
		text-align: center;
	}

	.showcase-top img {
		top: 20px;
		left: 30px;
		transform: translate(0);
	}

	.showcase{
		height: 75vh;
	}

	.tabs .container p{
		display: none;
	}

	.footer-cols{
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-between;
	}
}

@media screen and (max-width: 790px){
	.showcase-top img {
		width: 30%;
	}

	
	.showcase-content h1 {
		margin-bottom: 0;
	}

	.tab-1-content-inner {
		display: block;
	}

	.cancel-img {
		display: block;
		margin: 20px auto 0 auto;
		width: 65%;
	}

	.tab-2-content-top {
		display: block;
	}

	.tab-2-content-bottom {
		display: block;
	}

	.footer-cols{
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 20px;
	}

	.footer-cols ul{
		margin: auto;
		padding-inline-start: 0;
		margin-block-start: 0;
	}

	#tab-1-content > div{
		display: block;
	}

	.text-lg {
		font-size: 18px;
	}

	.tab-2-content-top p{
		font-size: 18px;
	}

	.btn{
		font-size: 15px;
	}

	.btn-lg{
		padding: 7px;
	}

	.cancel-img{
		width: 85%;
	}

	.showcase::after{
		box-shadow: inset 80px 60px 120px black, inset -80px -60px 120px black;
	}
}

@media screen and (max-width: 500px) {
	.showcase::after{
		box-shadow: inset 20px 10px 80px black, inset -20px -10px 80px black;
	}
}